html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    align-items: flex-start;
}
.gradient {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin: 0px;
    width: auto;
}

h1 {
    text-align: center;
    margin: 0px;
    padding: 20px 0px;
    color: white;
}

.border {
    border: 1px solid black;
}

.btn {
    background-color: blue;
    margin: 5px 0px;
    color: white;
    text-align: center;
}

.search {
    border-bottom: 2px solid grey;
}

.row {
    margin: 10px;
}

.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.list-group {
    padding: 0;
    list-style: none;
  }